---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Master Programming Fundamentals: Sign Up for Our Upcoming Course"
>
	<section class="w-[900px] mx-auto flex flex-col gap-20">
		<article>
			<h1
				class="text-foam mb-10 text-[1.5rem]/[2.25rem] md:text-[2rem]/[3.25rem] font-bold ml-5"
			>
				Hi
			</h1>

			<div
				class="text-[1rem]/[38px] font-inter text-white/90"
			>
				Have you ever wondered if it's even worth
				learning programming now that AI is on the rise
				and tools like ChatGPT can even provide you with
				the necessary code to build a website? Many
				people have, but I believe that excellent
				programmers with strong foundational skills and
				a genuine passion for programming are
				irreplaceable.
			</div>
			<div
				class="text-[1rem]/[38px] font-inter mt-5 text-white/90"
			>
				I created this course because I believe that
				passion and curiosity are the only things you
				need for a successful career in software
				development. My sole goal with this course is to
				help you discover that passion.
			</div>
		</article>
		<article>
			<h1
				class="text-foam mb-10 text-[1.5rem]/[2.25rem] md:text-[2rem]/[3.25rem] font-bold ml-5"
			>
				Course Goals
			</h1>

			<ul
				class="list-[square] text-[1rem]/[38px] font-inter text-white/90"
			>
				<li>
					Build strong foundational skills that
					will help you learn other concepts in
					the future.
				</li>
				<li>
					Make it as easy as possible to start
					learning programming and web
					development.
				</li>
				<li>
					Learn about algorithms and how to use
					them in programming.
				</li>
				<li>
					Learn about how computers interpret
					programs that you write.
				</li>
				<li>
					Understand how websites are built and
					how you can build interactive websites
					yourself.
				</li>
			</ul>
		</article>
		<article>
			<h1
				class="text-foam mb-10 text-[1.5rem]/[2.25rem] md:text-[2rem]/[3.25rem] font-bold ml-5"
			>
				What you will get?
			</h1>

			<ul
				class="list-[square] text-[1rem]/[38px] font-inter text-white/90"
			>
				<li>
					Full access to the written chapters to
					browse and read anytime.
				</li>
				<li>
					Assignments with the option to send your
					solution for verification.
				</li>
				<li>
					A online code editor to interpret and
					run your code so that you immidieately
					see your results.
				</li>
				<li>Full course PDF available to download.</li>
				<li>
					1-on-1 support for issues related to the
					course chapters.
				</li>
				<li>
					30 day money back guarantee if you are
					unsatisfied.
				</li>
			</ul>
		</article>
	</section>
</Layout>
