---
interface Props {
	active?: boolean | null | undefined;
	href?: string | null | undefined;
}
const { href, active } = Astro.props;
---

<a
	class:list={[
		"text-[1.5rem]/[1.25rem] underline font-jura",
		{
			"cursor-none text-white/20 hover:text-gray": !active,
			"text-white hover:text-foam": active,
		},
	]}
	href={active ? href : undefined}
>
	<slot />
</a>
